@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,200&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  outline: none;
}

html {
  background-color: #161a1d;
  font-size: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: #161a1d;
}

.tracker-item-title {
  white-space: unset;
  word-break: normal;
  font-weight: 300;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  border-bottom: 0.5px solid #dadce0;
}

.flag-image-container .flag-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.title-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  padding: 15px;
  top: 0;
  font-size: 2vw;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.title-container .title {
  font-family: "Roboto Mono", monospace;
  color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.title-container .cov-image-container {
  width: 4%;
  height: auto;
}

.title-container .cov-image-container .cov-image {
  fill: white;
}

.info-title-container {
  padding: 8px;
  background-color: white;
  position: relative;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  border-radius: 12px 12px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #dadce0;
}

.footer-container {
  border-radius: 0 0 12px 12px;
  background-color: #023e8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-container .footer-item-title {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 9px;
  letter-spacing: 1.3px;
}

.footer-container li:nth-of-type(1) {
  border-right: 0.5px solid #dadce0;
}

.footer-container li:nth-of-type(2) {
  border-right: 0.5px solid #dadce0;
}

.footer-container .footer-item {
  padding: 12px;
  width: 100%;
}

.footer-container .footer-item-desc {
  margin-bottom: 3px;
  font-weight: 400;
}

#line-graph {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.body-container {
  font-weight: 400;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.inactive {
  display: none;
}

.tooltip-map {
  position: fixed;
  display: none;
  color: white;
  background-color: #222;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
}

.tooltip-pointer {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -5px;
  border-top: 5px solid #222;
}

.cancel-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 18px;
  right: 10px;
  background: none;
  border: none;
  max-width: 18px;
  cursor: pointer;
}

.cancel-button .cancel-icon {
  width: 100%;
  height: 100%;
}

.tick-container {
  -webkit-transform: translate(50.89836, 0);
          transform: translate(50.89836, 0);
  height: 6px;
}

.hover-country {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.hover-item {
  width: 50px;
  height: 50px;
  background-color: red;
}

.info-container {
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 0.8vw;
  font-weight: 700;
  width: 100%;
  max-width: 600px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 15px;
  background-color: #161a1d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tracker-container {
  display: -ms-grid;
  display: grid;
  color: white;
  gap: 8px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
  max-width: 90vw;
  width: 100%;
  font-family: "Roboto Mono", monospace;
}

.map-container {
  max-width: 1100px;
  width: 100%;
  margin-top: 20px;
}

.hover-name {
  background-color: #dfe0e2;
  border-radius: 4px;
  padding: 2px 6px;
}

.card-mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
}

.graph-container {
  max-width: 100%;
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  position: relative;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.graph-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.svg-image {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: visible;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.graph-counter {
  font-size: 1.4em;
}

.tooltip {
  font-family: "Roboto Mono", monospace;
}

@media only screen and (max-width: 563px) {
  .tracker-container .counter-container {
    font-size: 4.5vw;
  }
}

@media only screen and (max-width: 1140px) {
  .card-title {
    font-size: 13px;
  }
  .footer-item-desc {
    font-size: 13px;
  }
}

@media only screen and (max-width: 650px) {
  .title-container {
    font-size: 7vw !important;
  }
  .title-container .title {
    font-size: 7vw !important;
  }
  .cov-image-container {
    width: 10% !important;
    height: auto;
  }
  .cov-image-container .cov-image {
    fill: white;
  }
}
/*# sourceMappingURL=App.css.map */